fastapi
pydantic            # 	FastAPIの型宣言・バリデーションで使用（FastAPI依存）
pydantic_core       # Pydanticの内部最適化ライブラリ。(直接指定しなくてもPydanticを入れたら入る)
uvicorn[standard]   # apサーバ(GunicornがWSGIサーバーだったが、これのASGI版 起動コマンドがuvicorn main:app --reloadなど)
                    # standardを指定した理由はhttps://zenn.dev/ryuu/scraps/139081511afdb4　つまり、uvicornだけでなく、uvloopやwebsocketsなどもrequirements.txtに記述したのと一緒にする。

# --DB関連--
sqlalchemy #ORM
# alembic #sqlalchemy用マイグレーション # ←いらなくなった。DBeaver
psycopg2-binary
asyncpg #psycopg2とは違い、非同期でposgrresを使うためのドライバ
python-dotenv
# --httpリクエスト関連--
# requests  # fastapi内部から、httpリクエストがしたいなら必要
httpx     # 上記requestsの非同期が使えるようにするためのもの